* {
    margin: 0%;
    padding: 0%;
}
.navbar-nav .nav-item {
    padding: 10px 20px;
    position: relative;
    left:100px;
}
.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
li{
    list-style: none;
}
.bd-1{
    border: 1px solid #3b3b3b;
}
nav .d-flex li{
    padding: 20px;
}
nav .d-flex li a{
    text-decoration: none;
    color: white;
}
.footer-border{
    padding-bottom: 20; margin-bottom: 80px; border-bottom: 1px solid #3b3b3b;
}
